*{margin:0;padding:0}

#header{	width:600px;background:#1E4564;padding:2px 2px}
h1{	padding:5px; background:#eee; color:#666}
	
#content{padding:5px}

#content #nav{
	width:600px;
	background:#355C96;
	height:25px;
	line-height:25px;
}

#content #nav li{
	float:left;
	width:120px;
	margin-top:-1000px;
}

#content #nav li a{ 
	width:120px;
	text-decoration:none;
	text-align:center;
	color:#fff;
	position:relative;
	float: left;
	margin-right :-119px;
	margin-top:1000px
}

#content #nav li a:hover, #content #nav li a:focus, #content #nav li a:active{
	background:#DCE2FC;
	margin-right: 0;
	color:#355C96
}

#content #nav li ul{
	background:#6286BD;
	float: left;
	margin-top:-25px;
	padding-top:25px;
	margin-bottom:-10000px;
	list-style-type:none
}

#content #nav li ul li{
	float:none;
	margin: 0;
	display: block;
	width:auto
}

#content #nav li ul li a{
	float:none;
	display: block;
	margin:0;
	margin-right:-1px;
	text-align: left;
	background:#6286BD
}


					